.gsd-keyboard.settings-ported
BraveSoftware/
Code/.org.chromium.Chromium.3BpBge
Code/.org.chromium.Chromium.5aEzzJ
Code/.org.chromium.Chromium.6oIvZO
Code/.org.chromium.Chromium.ENzu1V
Code/.org.chromium.Chromium.VeTPNI
Code/.org.chromium.Chromium.Zcnevk
Code/.org.chromium.Chromium.bOleSb
Code/.org.chromium.Chromium.isr1cb
Code/.org.chromium.Chromium.mdkFIU
Code/Cache/
Code/CachedConfigurations/
Code/CachedData/
Code/CachedExtensionVSIXs/
Code/CachedProfilesData/
Code/Code Cache/
Code/Cookies
Code/Cookies-journal
Code/Crashpad/
Code/DawnCache/
Code/Dictionaries/
Code/GPUCache/
Code/Local Storage/
Code/Network Persistent State
Code/Service Worker/
Code/Session Storage/
Code/Shared Dictionary/
Code/SharedStorage
Code/TransportSecurity
Code/Trust Tokens
Code/Trust Tokens-journal
Code/User/History/
Code/User/globalStorage/
Code/User/workspaceStorage/
Code/WebStorage/
Code/code.lock
Code/databases/
Code/languagepacks.json
Code/logs/
Code/machineid
GNOME-xdg-terminals.list
GitHub/
Mattermost/
QtProject.conf
StardewValley/
Termius/
Trolltech.conf
Unknown Organization/
act/
akregatorrc
arkrc
autostart/
baloofilerc
bluedevilglobalrc
cef_user_data/
configstore/
dask/
dconf/
dolphinrc
emaildefaults
enchant/
et/
evolution/
filetypesrc
font-manager/
ftb-app/
gedit/
gh/hosts.yml
github-copilot/
gnome-control-center/
gnome-initial-setup-done
goa-1.0/
google-chrome/
graphite/
gtk-3.0/
gtkrc
gtkrc-2.0
guake/
gwenviewrc
htop/
hypr/
ibus/
ipd.ovpn
kactivitymanagerd-statsrc
kactivitymanagerdrc
kateschemarc
kcmfonts
kcminputrc
kconf_updaterc
kdeconnect/
kded5rc
kdeglobals
keymaps/
kglobalshortcutsrc
khotkeysrc
khtml/
kmixrc
konq_history
konquerorrc
konsolerc
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwinrc
kwinrulesrc
kxkbrc
libaccounts-glib/
libreoffice/
menus/
mimeapps.list
monitors.xml
monitors.xml~
nautilus/
obs-studio/
okularpartrc
omf/
partitionmanagerrc
plasma-localerc
plasma-nm
plasma-org.kde.plasma.desktop-appletsrc
plasmarc
plasmashellrc
powerdevilrc
powermanagementprofilesrc
pulse/
qBittorrent/
session/
smplayer/
solaar/
spectaclerc
sublime-merge/
systemd/
systemmonitorrc
systemsettingsrc
tiling-assistant/
tmp/
totem/
touchpadxlibinputrc
transmission/
trashrc
ubuntu-xdg-terminals.list
unity3d/
update-notifier/
user-dirs.dirs
user-dirs.locale
vlc/
xdg-terminals.list
xsettingsd/
yelp/
zoom.conf
zoomus.conf
sublime-text-3/Lib
sublime-text-3/Packages
sublime-text-3/Backup
sublime-text-3/Installed\ Packages
sublime-text-3/Local/neovintageous.session

