NMR_v3.0
CB-CB csts from ksync alignment
associated with junk.pdb
464
      2 CB      7 CB        11.11       0.00       0.00
      2 CB      8 CB        10.38       0.00       0.00
      2 CB     10 CB        10.79       0.00       0.00
      2 CB     11 CB         8.45       0.00       0.00
      2 CB     33 CB         9.06       0.00       0.00
      2 CB     35 CB         9.78       0.00       0.00
      2 CB     38 CB        10.60       0.00       0.00
      2 CB     42 CB        11.13       0.00       0.00
      2 CB     45 CB        11.23       0.00       0.00
      2 CB     46 CB         7.66       0.00       0.00
      2 CB     49 CB         9.18       0.00       0.00
      2 CB     50 CB        10.71       0.00       0.00
      2 CB     66 CB        10.17       0.00       0.00
      2 CB     69 CB        11.84       0.00       0.00
      2 CB     70 CB         8.46       0.00       0.00
      3 CB      8 CB         9.43       0.00       0.00
      3 CB     11 CB        11.42       0.00       0.00
      3 CB     46 CB        11.91       0.00       0.00
      3 CB     49 CB         9.94       0.00       0.00
      3 CB     66 CB        11.46       0.00       0.00
      3 CB     69 CB         9.87       0.00       0.00
      3 CB     70 CB         9.04       0.00       0.00
      5 CB     38 CB         9.87       0.00       0.00
      5 CB     42 CB         9.26       0.00       0.00
      5 CB     45 CB        10.34       0.00       0.00
      5 CB     46 CB         9.78       0.00       0.00
      5 CB     49 CB        11.61       0.00       0.00
      6 CB     11 CB         8.35       0.00       0.00
      6 CB     14 CB        11.71       0.00       0.00
      6 CB     33 CB         8.37       0.00       0.00
      6 CB     35 CB        10.02       0.00       0.00
      6 CB     37 CB        11.25       0.00       0.00
      6 CB     38 CB        10.16       0.00       0.00
      6 CB     42 CB        11.73       0.00       0.00
      6 CB     46 CB        10.87       0.00       0.00
      6 CB     70 CB        10.49       0.00       0.00
      7 CB     12 CB        10.91       0.00       0.00
      7 CB     13 CB        11.14       0.00       0.00
      7 CB     33 CB        11.19       0.00       0.00
      8 CB     13 CB        11.82       0.00       0.00
      8 CB     69 CB        11.47       0.00       0.00
      8 CB     70 CB         7.90       0.00       0.00
      8 CB     71 CB         9.20       0.00       0.00
      8 CB     72 CB        10.49       0.00       0.00
      8 CB     73 CB        10.53       0.00       0.00
      9 CB     14 CB        11.72       0.00       0.00
      9 CB     70 CB        11.94       0.00       0.00
      9 CB     71 CB        11.14       0.00       0.00
      9 CB     73 CB        10.49       0.00       0.00
     10 CB     15 CB        11.82       0.00       0.00
     10 CB     32 CB         8.78       0.00       0.00
     10 CB     33 CB         7.78       0.00       0.00
     10 CB     35 CB        11.94       0.00       0.00
     10 CB     70 CB        11.34       0.00       0.00
     10 CB     71 CB        11.90       0.00       0.00
     11 CB     16 CB        11.88       0.00       0.00
     11 CB     29 CB        11.31       0.00       0.00
     11 CB     32 CB        10.22       0.00       0.00
     11 CB     33 CB         7.16       0.00       0.00
     11 CB     35 CB        11.54       0.00       0.00
     11 CB     66 CB        11.01       0.00       0.00
     11 CB     67 CB         9.87       0.00       0.00
     11 CB     69 CB        11.72       0.00       0.00
     11 CB     70 CB         6.53       0.00       0.00
     11 CB     71 CB         7.61       0.00       0.00
     12 CB     17 CB        11.89       0.00       0.00
     12 CB     32 CB        11.91       0.00       0.00
     12 CB     33 CB        11.54       0.00       0.00
     12 CB     67 CB        11.30       0.00       0.00
     12 CB     70 CB         9.33       0.00       0.00
     12 CB     71 CB         6.44       0.00       0.00
     12 CB     72 CB        10.42       0.00       0.00
     12 CB     73 CB         7.60       0.00       0.00
     13 CB     32 CB         8.22       0.00       0.00
     13 CB     33 CB        10.52       0.00       0.00
     13 CB     71 CB        11.01       0.00       0.00
     14 CB     19 CB        11.81       0.00       0.00
     14 CB     28 CB         9.85       0.00       0.00
     14 CB     29 CB         7.19       0.00       0.00
     14 CB     30 CB        10.10       0.00       0.00
     14 CB     31 CB        10.23       0.00       0.00
     14 CB     32 CB         5.47       0.00       0.00
     14 CB     33 CB         6.46       0.00       0.00
     14 CB     35 CB        11.07       0.00       0.00
     14 CB     67 CB        11.80       0.00       0.00
     14 CB     70 CB        11.54       0.00       0.00
     14 CB     71 CB        10.66       0.00       0.00
     15 CB     29 CB         9.76       0.00       0.00
     15 CB     32 CB        10.67       0.00       0.00
     15 CB     33 CB        10.57       0.00       0.00
     15 CB     67 CB         8.12       0.00       0.00
     15 CB     68 CB        11.76       0.00       0.00
     15 CB     70 CB        10.15       0.00       0.00
     15 CB     71 CB         7.19       0.00       0.00
     15 CB     73 CB        11.60       0.00       0.00
     15 CB     75 CB        11.50       0.00       0.00
     15 CB     76 CB        10.76       0.00       0.00
     15 CB     77 CB         9.64       0.00       0.00
     15 CB     85 CB        10.88       0.00       0.00
     16 CB     23 CB        11.87       0.00       0.00
     16 CB     32 CB        11.39       0.00       0.00
     16 CB     71 CB        10.50       0.00       0.00
     16 CB     73 CB        11.30       0.00       0.00
     17 CB     23 CB         9.20       0.00       0.00
     17 CB     24 CB        11.39       0.00       0.00
     17 CB     25 CB        10.51       0.00       0.00
     17 CB     28 CB         8.67       0.00       0.00
     17 CB     29 CB         9.30       0.00       0.00
     17 CB     32 CB         8.15       0.00       0.00
     18 CB     23 CB         7.26       0.00       0.00
     18 CB     24 CB         6.67       0.00       0.00
     18 CB     25 CB         8.37       0.00       0.00
     18 CB     26 CB        11.20       0.00       0.00
     18 CB     28 CB         8.91       0.00       0.00
     18 CB     29 CB         7.54       0.00       0.00
     18 CB     32 CB        10.63       0.00       0.00
     18 CB     77 CB        10.53       0.00       0.00
     18 CB     81 CB        10.70       0.00       0.00
     18 CB     84 CB        10.17       0.00       0.00
     18 CB     85 CB         8.82       0.00       0.00
     18 CB     88 CB        10.17       0.00       0.00
     19 CB     24 CB        11.03       0.00       0.00
     19 CB     71 CB        11.91       0.00       0.00
     19 CB     75 CB        11.70       0.00       0.00
     19 CB     76 CB        11.81       0.00       0.00
     19 CB     77 CB         8.68       0.00       0.00
     19 CB     78 CB        11.55       0.00       0.00
     19 CB     81 CB         9.41       0.00       0.00
     19 CB     85 CB        11.84       0.00       0.00
     20 CB     77 CB        11.80       0.00       0.00
     20 CB     81 CB        10.23       0.00       0.00
     20 CB     84 CB        11.75       0.00       0.00
     21 CB     77 CB        10.95       0.00       0.00
     21 CB     78 CB         9.80       0.00       0.00
     21 CB     80 CB         8.67       0.00       0.00
     21 CB     81 CB         7.60       0.00       0.00
     21 CB     84 CB         8.53       0.00       0.00
     23 CB     28 CB        11.04       0.00       0.00
     23 CB     81 CB        11.46       0.00       0.00
     23 CB     84 CB        10.68       0.00       0.00
     24 CB     29 CB         9.55       0.00       0.00
     24 CB     77 CB        11.21       0.00       0.00
     24 CB     81 CB         9.84       0.00       0.00
     24 CB     82 CB        11.90       0.00       0.00
     24 CB     83 CB        11.52       0.00       0.00
     24 CB     84 CB         6.43       0.00       0.00
     24 CB     85 CB         7.49       0.00       0.00
     24 CB     86 CB        11.38       0.00       0.00
     24 CB     87 CB         9.95       0.00       0.00
     24 CB     88 CB         6.83       0.00       0.00
     24 CB     89 CB        11.39       0.00       0.00
     25 CB     30 CB        11.13       0.00       0.00
     25 CB     31 CB        11.79       0.00       0.00
     25 CB     32 CB        11.80       0.00       0.00
     25 CB     84 CB        11.79       0.00       0.00
     25 CB     85 CB        11.62       0.00       0.00
     25 CB     88 CB         8.36       0.00       0.00
     26 CB     31 CB        11.87       0.00       0.00
     26 CB     85 CB        10.40       0.00       0.00
     26 CB     86 CB        11.85       0.00       0.00
     26 CB     87 CB        11.18       0.00       0.00
     26 CB     88 CB         6.25       0.00       0.00
     26 CB     89 CB         7.26       0.00       0.00
     26 CB     90 CB        10.84       0.00       0.00
     26 CB     91 CB        10.99       0.00       0.00
     26 CB    105 CB         7.97       0.00       0.00
     26 CB    106 CB        10.53       0.00       0.00
     26 CB    108 CB        11.58       0.00       0.00
     27 CB     32 CB        11.70       0.00       0.00
     27 CB     36 CB        10.55       0.00       0.00
     27 CB     88 CB        10.89       0.00       0.00
     27 CB    105 CB        10.02       0.00       0.00
     27 CB    106 CB        11.07       0.00       0.00
     27 CB    108 CB         9.94       0.00       0.00
     28 CB     33 CB        11.69       0.00       0.00
     28 CB     88 CB        11.31       0.00       0.00
     29 CB     35 CB        10.14       0.00       0.00
     29 CB     85 CB         9.64       0.00       0.00
     29 CB     88 CB         9.60       0.00       0.00
     29 CB     89 CB        10.54       0.00       0.00
     29 CB    106 CB        11.74       0.00       0.00
     30 CB     35 CB         6.35       0.00       0.00
     30 CB     36 CB         7.54       0.00       0.00
     30 CB     37 CB        11.82       0.00       0.00
     30 CB     38 CB        11.40       0.00       0.00
     30 CB     43 CB        11.91       0.00       0.00
     30 CB     88 CB        11.91       0.00       0.00
     30 CB     89 CB        10.78       0.00       0.00
     30 CB    102 CB        11.50       0.00       0.00
     30 CB    105 CB         9.42       0.00       0.00
     30 CB    106 CB         7.14       0.00       0.00
     30 CB    107 CB        11.46       0.00       0.00
     30 CB    108 CB        11.38       0.00       0.00
     31 CB     36 CB         7.09       0.00       0.00
     31 CB     37 CB        10.51       0.00       0.00
     31 CB    106 CB        11.35       0.00       0.00
     33 CB     38 CB        11.22       0.00       0.00
     33 CB     46 CB        11.69       0.00       0.00
     33 CB     70 CB        10.83       0.00       0.00
     33 CB    106 CB        11.38       0.00       0.00
     35 CB     42 CB        10.58       0.00       0.00
     35 CB     43 CB         8.87       0.00       0.00
     35 CB     46 CB         9.15       0.00       0.00
     35 CB    102 CB        10.91       0.00       0.00
     35 CB    103 CB        11.78       0.00       0.00
     35 CB    105 CB        11.45       0.00       0.00
     35 CB    106 CB         6.82       0.00       0.00
     35 CB    107 CB        11.27       0.00       0.00
     36 CB     43 CB        11.57       0.00       0.00
     36 CB    106 CB         8.29       0.00       0.00
     36 CB    107 CB         9.71       0.00       0.00
     36 CB    108 CB        11.02       0.00       0.00
     37 CB     42 CB        11.02       0.00       0.00
     38 CB     43 CB         7.55       0.00       0.00
     38 CB     44 CB        11.72       0.00       0.00
     38 CB     45 CB        10.90       0.00       0.00
     38 CB     46 CB         9.05       0.00       0.00
     38 CB    103 CB        11.67       0.00       0.00
     38 CB    106 CB         9.52       0.00       0.00
     38 CB    107 CB        11.34       0.00       0.00
     39 CB     44 CB        10.85       0.00       0.00
     39 CB     45 CB        11.47       0.00       0.00
     39 CB    103 CB        11.72       0.00       0.00
     39 CB    107 CB        11.41       0.00       0.00
     40 CB    103 CB         7.91       0.00       0.00
     40 CB    104 CB        11.69       0.00       0.00
     40 CB    106 CB        11.25       0.00       0.00
     40 CB    107 CB         8.95       0.00       0.00
     41 CB     46 CB        11.93       0.00       0.00
     41 CB    103 CB        11.54       0.00       0.00
     42 CB     47 CB        11.73       0.00       0.00
     42 CB    103 CB        11.64       0.00       0.00
     42 CB    106 CB        11.84       0.00       0.00
     43 CB     48 CB        11.75       0.00       0.00
     43 CB     99 CB        10.95       0.00       0.00
     43 CB    102 CB         8.63       0.00       0.00
     43 CB    103 CB         6.64       0.00       0.00
     43 CB    104 CB        11.43       0.00       0.00
     43 CB    105 CB        11.94       0.00       0.00
     43 CB    106 CB         7.70       0.00       0.00
     43 CB    107 CB         9.52       0.00       0.00
     44 CB     49 CB        11.94       0.00       0.00
     44 CB     99 CB         9.24       0.00       0.00
     44 CB    102 CB        10.83       0.00       0.00
     44 CB    103 CB         8.51       0.00       0.00
     46 CB     51 CB        11.76       0.00       0.00
     46 CB     66 CB        11.46       0.00       0.00
     46 CB    102 CB        10.16       0.00       0.00
     46 CB    103 CB        11.17       0.00       0.00
     46 CB    106 CB        10.70       0.00       0.00
     47 CB     57 CB        11.50       0.00       0.00
     47 CB     58 CB         9.02       0.00       0.00
     47 CB     97 CB         9.83       0.00       0.00
     47 CB     99 CB         7.76       0.00       0.00
     47 CB    100 CB        11.91       0.00       0.00
     47 CB    101 CB        11.75       0.00       0.00
     47 CB    102 CB         7.25       0.00       0.00
     47 CB    103 CB         9.04       0.00       0.00
     47 CB    106 CB        11.25       0.00       0.00
     48 CB     54 CB         9.23       0.00       0.00
     48 CB     99 CB        10.89       0.00       0.00
     49 CB     58 CB        11.97       0.00       0.00
     49 CB     62 CB        11.78       0.00       0.00
     49 CB     66 CB         9.22       0.00       0.00
     49 CB     69 CB        11.70       0.00       0.00
     50 CB     58 CB         7.17       0.00       0.00
     50 CB     59 CB        11.24       0.00       0.00
     50 CB     62 CB         8.00       0.00       0.00
     50 CB     63 CB         8.18       0.00       0.00
     50 CB     65 CB        10.56       0.00       0.00
     50 CB     66 CB         7.09       0.00       0.00
     50 CB     67 CB        11.56       0.00       0.00
     50 CB     69 CB        11.99       0.00       0.00
     50 CB     70 CB        11.91       0.00       0.00
     50 CB     97 CB        10.22       0.00       0.00
     50 CB    102 CB        10.32       0.00       0.00
     51 CB     57 CB         8.68       0.00       0.00
     51 CB     58 CB         7.21       0.00       0.00
     51 CB     59 CB         9.97       0.00       0.00
     51 CB     62 CB         8.17       0.00       0.00
     51 CB     63 CB        11.32       0.00       0.00
     51 CB     66 CB        11.58       0.00       0.00
     51 CB     96 CB        11.86       0.00       0.00
     51 CB     97 CB        10.31       0.00       0.00
     51 CB     99 CB        10.49       0.00       0.00
     51 CB    102 CB        11.39       0.00       0.00
     52 CB     58 CB        11.12       0.00       0.00
     52 CB     59 CB        10.75       0.00       0.00
     52 CB     61 CB        10.98       0.00       0.00
     52 CB     62 CB         7.16       0.00       0.00
     52 CB     63 CB        11.73       0.00       0.00
     52 CB     65 CB         8.77       0.00       0.00
     52 CB     66 CB        10.10       0.00       0.00
     53 CB     58 CB        11.25       0.00       0.00
     53 CB     59 CB         9.21       0.00       0.00
     53 CB     61 CB        11.24       0.00       0.00
     53 CB     62 CB         8.55       0.00       0.00
     55 CB     62 CB        10.97       0.00       0.00
     55 CB     96 CB        10.79       0.00       0.00
     57 CB     62 CB        10.90       0.00       0.00
     57 CB     94 CB        10.41       0.00       0.00
     57 CB     96 CB         6.06       0.00       0.00
     57 CB     97 CB         7.92       0.00       0.00
     57 CB     99 CB         9.89       0.00       0.00
     57 CB    101 CB        11.03       0.00       0.00
     57 CB    102 CB        11.40       0.00       0.00
     58 CB     63 CB         7.80       0.00       0.00
     58 CB     66 CB        10.85       0.00       0.00
     58 CB     86 CB         9.51       0.00       0.00
     58 CB     89 CB         9.76       0.00       0.00
     58 CB     90 CB        11.71       0.00       0.00
     58 CB     96 CB         8.57       0.00       0.00
     58 CB     97 CB         5.98       0.00       0.00
     58 CB     99 CB        10.90       0.00       0.00
     58 CB    101 CB        11.11       0.00       0.00
     58 CB    102 CB         8.99       0.00       0.00
     59 CB     64 CB        11.06       0.00       0.00
     59 CB     65 CB        11.40       0.00       0.00
     59 CB     82 CB        11.94       0.00       0.00
     59 CB     86 CB         9.81       0.00       0.00
     59 CB     96 CB         8.55       0.00       0.00
     59 CB     97 CB        10.48       0.00       0.00
     60 CB     65 CB        11.81       0.00       0.00
     60 CB     77 CB        11.63       0.00       0.00
     60 CB     79 CB        10.46       0.00       0.00
     60 CB     82 CB         6.91       0.00       0.00
     60 CB     83 CB         8.05       0.00       0.00
     60 CB     84 CB        11.71       0.00       0.00
     60 CB     85 CB         9.74       0.00       0.00
     60 CB     86 CB         6.59       0.00       0.00
     60 CB     87 CB        10.86       0.00       0.00
     60 CB     90 CB        11.94       0.00       0.00
     60 CB     96 CB        10.69       0.00       0.00
     60 CB     97 CB        11.72       0.00       0.00
     61 CB     66 CB        12.00       0.00       0.00
     61 CB     79 CB        11.83       0.00       0.00
     61 CB     82 CB         9.91       0.00       0.00
     61 CB     86 CB        11.56       0.00       0.00
     62 CB     67 CB        11.93       0.00       0.00
     62 CB     86 CB        11.47       0.00       0.00
     62 CB     96 CB        11.90       0.00       0.00
     62 CB     97 CB        11.43       0.00       0.00
     63 CB     68 CB        11.89       0.00       0.00
     63 CB     76 CB        11.63       0.00       0.00
     63 CB     77 CB        11.24       0.00       0.00
     63 CB     82 CB         9.05       0.00       0.00
     63 CB     85 CB         8.71       0.00       0.00
     63 CB     86 CB         8.07       0.00       0.00
     63 CB     89 CB        10.37       0.00       0.00
     63 CB     97 CB        10.21       0.00       0.00
     64 CB     69 CB        11.49       0.00       0.00
     64 CB     75 CB        11.99       0.00       0.00
     64 CB     76 CB         7.19       0.00       0.00
     64 CB     77 CB         8.52       0.00       0.00
     64 CB     78 CB        11.54       0.00       0.00
     64 CB     79 CB        10.89       0.00       0.00
     64 CB     81 CB        11.22       0.00       0.00
     64 CB     82 CB         7.16       0.00       0.00
     64 CB     85 CB        10.40       0.00       0.00
     64 CB     86 CB        11.01       0.00       0.00
     65 CB     70 CB        11.59       0.00       0.00
     65 CB     76 CB        10.23       0.00       0.00
     66 CB     71 CB        10.76       0.00       0.00
     66 CB     76 CB        11.67       0.00       0.00
     67 CB     72 CB        11.71       0.00       0.00
     67 CB     75 CB        10.69       0.00       0.00
     67 CB     76 CB         7.49       0.00       0.00
     67 CB     77 CB         8.82       0.00       0.00
     67 CB     82 CB        10.47       0.00       0.00
     67 CB     85 CB        10.18       0.00       0.00
     68 CB     75 CB         8.35       0.00       0.00
     68 CB     76 CB         6.42       0.00       0.00
     68 CB     77 CB        11.15       0.00       0.00
     69 CB     76 CB        11.44       0.00       0.00
     71 CB     76 CB         9.73       0.00       0.00
     71 CB     77 CB        11.80       0.00       0.00
     76 CB     81 CB        10.69       0.00       0.00
     76 CB     82 CB         9.74       0.00       0.00
     77 CB     82 CB         6.99       0.00       0.00
     77 CB     83 CB        11.23       0.00       0.00
     77 CB     84 CB        10.08       0.00       0.00
     77 CB     85 CB         8.60       0.00       0.00
     78 CB     83 CB        11.21       0.00       0.00
     78 CB     84 CB        11.33       0.00       0.00
     82 CB     87 CB        11.39       0.00       0.00
     83 CB     88 CB        11.49       0.00       0.00
     83 CB     90 CB        11.57       0.00       0.00
     85 CB     90 CB        11.63       0.00       0.00
     86 CB     96 CB         9.80       0.00       0.00
     86 CB     97 CB         9.13       0.00       0.00
     88 CB    105 CB        11.12       0.00       0.00
     89 CB     96 CB        11.28       0.00       0.00
     89 CB     97 CB         7.30       0.00       0.00
     89 CB    101 CB         9.11       0.00       0.00
     89 CB    102 CB         8.93       0.00       0.00
     89 CB    105 CB         8.23       0.00       0.00
     89 CB    106 CB        10.91       0.00       0.00
     90 CB     96 CB         9.03       0.00       0.00
     90 CB     97 CB         8.70       0.00       0.00
     90 CB    101 CB         9.45       0.00       0.00
     90 CB    105 CB        11.16       0.00       0.00
     91 CB     97 CB        10.58       0.00       0.00
     91 CB    100 CB        11.15       0.00       0.00
     91 CB    101 CB         6.97       0.00       0.00
     91 CB    102 CB        11.47       0.00       0.00
     91 CB    104 CB         9.57       0.00       0.00
     91 CB    105 CB         8.27       0.00       0.00
     91 CB    108 CB        11.95       0.00       0.00
     92 CB     97 CB        11.81       0.00       0.00
     92 CB    101 CB         9.36       0.00       0.00
     94 CB    101 CB        11.11       0.00       0.00
     96 CB    101 CB        10.61       0.00       0.00
     97 CB    102 CB         7.02       0.00       0.00
     97 CB    103 CB        11.83       0.00       0.00
     97 CB    105 CB        10.34       0.00       0.00
     99 CB    104 CB        11.02       0.00       0.00
    100 CB    105 CB        11.05       0.00       0.00
    100 CB    107 CB        11.85       0.00       0.00
    101 CB    106 CB        11.10       0.00       0.00
    102 CB    107 CB        11.19       0.00       0.00
    103 CB    108 CB        11.84       0.00       0.00
