[Desktop Entry]
Type=Application
Exec=touchegg
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=false
Name[en_US]=touchegg
Name=touchegg
Comment[en_US]=
Comment=
